:root {
  --background-color: #fdf6f0;
}

html {
  font-size: 11px;
}

body {
  @apply font-sans;
  @apply p-10;
  @apply overflow-x-hidden;
  background-color: var(--background-color);
}

.container {
  @apply mx-auto;
}

.ease-all-transition-75 {
  @apply transition-all;
  @apply duration-75;
  @apply ease-in-out;
}

.ease-all-transition-100 {
  @apply transition-all;
  @apply duration-100;
  @apply ease-in-out;
}

.ease-all-transition-150 {
  @apply transition-all;
  @apply duration-150;
  @apply ease-in-out;
}

.ease-all-transition-200 {
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.ease-all-transition-300 {
  @apply transition-all;
  @apply duration-300;
  @apply ease-in-out;
}

.ease-all-transition-500 {
  @apply transition-all;
  @apply duration-500;
  @apply ease-in-out;
}

a {
  @apply cursor-pointer;
}

p {
  @apply mt-1;
  @apply text-3xl;
  @apply font-medium;
  @apply leading-9;
}


h1 {
  @apply text-4xl;
  @apply font-black;
  @apply leading-8;
}

.display-1 {
  @apply text-6xl;
  line-height: 3.25rem;
}

h2 {
  @apply text-3xl;
  @apply font-black;
}

h3 {
  @apply text-2xl;
  @apply font-black;
}

h4 {
  @apply text-xl;
  @apply font-black;
}

.no-scroll {
  @apply h-full;
  @apply overflow-hidden;
}

@screen md {
  html {
    font-size: 15px;
  }
}

@screen lg {

}
