:root {
  --background-color: #fff3e6;
  --sec-dark-color: #e6cdb3;
  --sec-light-color: #fdf6f0;
  --compl-color: #a11b1b;
}

html {
  font-size: 14px;
}

body {
  @apply font-sans;
  @apply p-10;
  @apply overflow-x-hidden;
  background-color: var(--background-color);
}

*:focus {
  outline: dotted 1px black;
}

.container {
  @apply mx-auto;
  max-width: 1000px;
}

.ease-all-transition-75 {
  @apply transition-all;
  @apply duration-75;
  @apply ease-in-out;
}

.ease-all-transition-100 {
  @apply transition-all;
  @apply duration-100;
  @apply ease-in-out;
}

.ease-all-transition-150 {
  @apply transition-all;
  @apply duration-150;
  @apply ease-in-out;
}

.ease-all-transition-200 {
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.ease-all-transition-300 {
  @apply transition-all;
  @apply duration-300;
  @apply ease-in-out;
}

.ease-all-transition-500 {
  @apply transition-all;
  @apply duration-500;
  @apply ease-in-out;
}

a {
  @apply cursor-pointer;
}

h1 {
  @apply text-4xl;
  @apply font-black;
  @apply leading-8;
}

.display-1 {
  @apply text-6xl;
  line-height: 3.25rem;
}

h2 {
  @apply text-3xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-black;
}

h4 {
  @apply text-xl;
  @apply font-black;
}

p {
  @apply text-lg;
}

blockquote {
  @apply border-l-4;
  @apply border-gray-800;
  @apply pl-4;
  @apply italic;
  @apply font-semibold;
  @apply text-lg;
}

code {
  @apply bg-black;
  @apply text-white;
  @apply p-4;
  @apply rounded-md;
  @apply block;
}

ul {
  @apply list-disc;
  @apply list-inside;

  p {
    @apply inline;
  }
}

ol {
  @apply list-decimal;
  @apply list-inside;

  p {
    @apply inline;
  }
}

.no-scroll {
  @apply h-full;
  @apply overflow-hidden;
}

hr {
  height: 1.5px;
  @apply text-black;
  @apply bg-black;
  @apply border-0;
}

input.input {
  @apply px-4;
  @apply pl-5;
  @apply relative;
  @apply rounded-md;
  @apply shadow-md;
  min-height: 50px;
  max-width: 400px;

  background-color: var(--sec-light-color);

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

.btn {
  @apply self-center;
  @apply py-3;
  @apply px-5;
  @apply text-center;
  @apply text-base;
  @apply text-white;
  @apply font-bold;
  @apply rounded-md;

  background-color: var(--compl-color);
  background-color: black;

  &:hover {
    background-color: lighten($color: #000000, $amount: 20%);
  }

  &:focus {
    background-color: lighten($color: #000000, $amount: 40%);
  }
}

.btn-sd {
  @apply shadow-md;
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;

  &:hover {
    @apply shadow-sm;
  }

  &:focus {
    @apply shadow-none;
  }
}

.card {
  background-color: var(--sec-light-color);
  @apply shadow-md;
  @apply rounded-md;
  @apply p-8;
  @apply w-auto;
  @apply transition-all;
  @apply ease-in-out;
  @apply duration-300;

  &:hover {
    @apply shadow-lg;
    @apply translate-x-2;
    @apply translate-y-2;
  }
  h3 {
    @apply font-bold;
    @apply text-3xl;
    @apply leading-7;
    @apply mb-2;
  }
}

@screen md {
  html {
    font-size: 15px;
  }
}

@screen lg {
}
